In [105]:
import pandas as pd

In [106]:
df_anime = pd.DataFrame({'Anime': ['One Piece', 'Naruto', 'Bleach', 'Attach On Titan','Dead Note','Fullmetal Alchemist']})

In [107]:
df_year = pd.DataFrame({'Year': ['2000', '2001','2002','2010', '2000', '2007']})

In [108]:
df_rating = pd.DataFrame({'Rating': [7,9,9,10,9,10]})

In [109]:
df_anime

                 Anime
0            One Piece
1               Naruto
2               Bleach
3      Attach On Titan
4            Dead Note
5  Fullmetal Alchemist

In [110]:
df_year

   Year
0  2000
1  2001
2  2002
3  2010
4  2000
5  2007

In [111]:
df_anime['Year'] = df_year

In [112]:
df_anime['Rating'] = df_rating

In [113]:
df_anime

                 Anime  Year  Rating
0            One Piece  2000       7
1               Naruto  2001       9
2               Bleach  2002       9
3      Attach On Titan  2010      10
4            Dead Note  2000       9
5  Fullmetal Alchemist  2007      10

In [114]:
df_anime.head(3)

       Anime  Year  Rating
0  One Piece  2000       7
1     Naruto  2001       9
2     Bleach  2002       9

In [116]:
df_comment = pd.DataFrame({'comment': ['good', 'very good', 'awsome', 'cool','woow', 'NO.1']})

In [117]:
df_comment

     comment
0       good
1  very good
2     awsome
3       cool
4       woow
5       NO.1

In [118]:
df_anime['comment'] = df_comment

In [120]:
anime = df_anime

In [121]:
anime

                 Anime  Year  Rating    comment
0            One Piece  2000       7       good
1               Naruto  2001       9  very good
2               Bleach  2002       9     awsome
3      Attach On Titan  2010      10       cool
4            Dead Note  2000       9       woow
5  Fullmetal Alchemist  2007      10       NO.1

In [124]:
anime.to_csv('anime.csv')

In [125]:
anime['Anime']

0              One Piece
1                 Naruto
2                 Bleach
3        Attach On Titan
4              Dead Note
5    Fullmetal Alchemist
Name: Anime, dtype: object

In [129]:
anime['Rating'].sort_values(ascending=False)   # Series sorting

3    10
5    10
1     9
2     9
4     9
0     7
Name: Rating, dtype: int64

In [139]:
anime.sort_values(by=['Rating','comment'], ascending=[False, False])  # DataFrame sorting

                 Anime  Year  Rating    comment
3      Attach On Titan  2010      10       cool
5  Fullmetal Alchemist  2007      10       NO.1
4            Dead Note  2000       9       woow
1               Naruto  2001       9  very good
2               Bleach  2002       9     awsome
0            One Piece  2000       7       good

In [141]:
anime['Rating'].mean()

9.0

In [142]:
anime.describe()

          Rating
count   6.000000
mean    9.000000
std     1.095445
min     7.000000
25%     9.000000
50%     9.000000
75%     9.750000
max    10.000000

In [143]:
anime.index

RangeIndex(start=0, stop=6, step=1)

In [169]:
anime.loc[:,['Anime','Year']] # collect data for specific columnss

                 Anime  Year
0            One Piece  2000
1               Naruto  2001
2               Bleach  2002
3      Attach On Titan  2010
4            Dead Note  2000
5  Fullmetal Alchemist  2007

In [175]:
anime['Year'].count()  # count how many year in a list

6

In [178]:
anime['Year'].describe()

count        6
unique       5
top       2000
freq         2
Name: Year, dtype: object

In [191]:
anime

                 Anime  Year  Rating    comment
0            One Piece  2000       7       good
1               Naruto  2001       9  very good
2               Bleach  2002       9     awsome
3      Attach On Titan  2010      10       cool
4            Dead Note  2000       9       woow
5  Fullmetal Alchemist  2007      10       NO.1

In [194]:
anime.loc[anime['Rating']>=9, :]  # make condition

                 Anime  Year  Rating    comment
1               Naruto  2001       9  very good
2               Bleach  2002       9     awsome
3      Attach On Titan  2010      10       cool
4            Dead Note  2000       9       woow
5  Fullmetal Alchemist  2007      10       NO.1