In [1]:
import pandas as pd

In [7]:
df1 = pd.DataFrame([[1,2], [3,4]], columns=list('AB'))
df1

   A  B
0  1  2
1  3  4

In [9]:
df2 = pd.DataFrame([[5,6],[7,8]], columns=list('AB'))
df2

   A  B
0  5  6
1  7  8

In [10]:
df1.append(df2)

   A  B
0  1  2
1  3  4
0  5  6
1  7  8

In [11]:
df1.append(df2, ignore_index=True)

   A  B
0  1  2
1  3  4
2  5  6
3  7  8

In [13]:
df = pd.DataFrame(columns=['A'])
df

Empty DataFrame
Columns: [A]
Index: []

In [14]:
for i in range(5):            # append in for loop
    df = df.append({'A': i}, ignore_index=True)
df

   A
0  0
1  1
2  2
3  3
4  4

In [17]:
pd.concat(    # for loop in concat
    [pd.DataFrame([i], columns=['A']) for i in range(5)], 
    ignore_index=True
)

   A
0  0
1  1
2  2
3  3
4  4